/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* transition-timing-function: ease; - default
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
  transition-timing-function: step-start;
  transition-timing-function: step-end; 
   */



/* header menu animation */   

@keyframes triangle-movie {
  /*0% {
   translate: 0px;
  }*/
  100% {
    transform: translate(4px);
  }
}




/* hover to heart icon */

.like-icon .core {	
	transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 300ms;
  transition-delay: 30ms;
}


.like-icon .main-body {
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 300ms;
  /*transition-delay: 0;*/
}


.like-icon:hover .core {
  fill: var(--cr-color);
 /* transition-delay: 0px;*/
}


.like-icon:hover .main-body {
  fill: var(--cr-color);
  transition-delay: 50ms;
}



/* click to heart icon */


.like-icon .contour {
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 100ms;
  transition: fill 0.1s linear;
}

.like-icon:active .core {
  fill: var(--general-fill);
  transition-delay: 0ms;
}

.like-icon:active .main-body {
  fill: var(--general-fill);
  transition-delay: 50ms;
}

.like-icon.is-liked .core {
  fill: var(--general-fill);
  transition-delay: 0ms;
}

.like-icon.is-liked .main-body {
  fill: var(--general-fill);
  transition-delay: 50ms;
}

.like-icon.is-liked .contour {
  fill: var(--general-fill);
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 300ms;
  transition-delay: 60ms;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 300ms ease-in alternate;
  animation-delay: 100ms;
  animation-iteration-count: 1;
}


@keyframes heart  {
  from {
    transform: scale(1);
  }
  
  to {
    transform: scale(1.5);
  }
}



.like-icon.is-liked .sparks {
  animation: sparks 300ms ease-in alternate;
  animation-delay: 300ms;
  animation-iteration-count: 1;
}

@keyframes sparks {
  from {
    fill: none;
  }
  to {
    fill: var(--general-fill);
  }
}




